#app{
    position: relative;
    min-height: 100vh;
}

a{
    transition: all .3s ease;
    text-decoration: none;
    
    &:hover{
       color: #FFB500;
       text-decoration: none;
    }
}

iframe{
    margin: 15px 0;
}

.sortClone{
    display: none !important;
}

.op-1{
    opacity: .1;
}
.op-2{
    opacity: .2;
}
.op-3{
    opacity: .3;
}
.op-4{
    opacity: .4;
}
.op-5{
    opacity: .5;
}
.op-6{
    opacity: .6;
}
.op-7{
    opacity: .7;
}
.op-8{
    opacity: .8;
}
.op-9{
    opacity: .9;
}

.yellow{
    color: #FFB500;
}

img.thumb{
    height: 60px;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}


img.thumb-big{
    height: 140px;
    width: 100%;
    object-fit: cover;
    padding: 5px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.news-container{
    padding: 25px 5vw 75px;
    background: url('img/news.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 50px 5px rgb(0, 0, 0);

    h3{
        font-size: 32px;
        color: #fff;
        display: inline-block;
        border-bottom: solid 5px #F9010A;
        margin-bottom: 50px;
    }

    .news{
        max-width: 340px;
        background: #fff;
        border-radius: 10px;
        // overflow: hidden;
        margin: 0 auto 50px;
        position: relative;

        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .news-body{
            padding: 10px;
            text-align: center;
            font-weight: 500;
            height: 150px;

            .news-date{
                position: absolute;
                bottom: -20px;
                right: -20px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #D60400;
                z-index: 2;
                display: flex;
                align-items: center;
                flex-flow: wrap;
                padding: 15px 0;

                > span{
                    display: block;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    line-height: 1;

                    &.day{
                        font-size: 19px;
                    }

                    &.month{
                        font-size: 22px;
                    }
                }
            }
        }

        a{
            // background: url(img/btn-sm.png) center no-repeat;
            // background-size: contain;
            width: 141px;
            height: 31px;
            text-align: center;
            font-size: 16px;
            color: #212529;
            text-decoration: none;
            display: inline-block;
            line-height: 31px;
            position: relative;

            span{
                position: relative;
                z-index: 2;
            }

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 141px;
                height: 31px;
                background: #ffb400; /* Old browsers */
                background: -moz-linear-gradient(left, #ffb400 0%, #ffcc00 50%, #ffb400 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffb400',GradientType=1 ); /* IE6-9 */
                transform: skew(-27deg);
            }

            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: -2px;
                width: 0px;
                height: 31px;
                background: #d60400;
                transform: skew(-27deg);
                transition: all .3s ease;
            }

            &:hover{
                color: #fff;
            }

            &:hover:after{
                width: 130px;
            }
        }
    }
}

.partners-container{
    padding: 50px 5vw;
    background: url('img/partners.jpg') center no-repeat;
    background-size: cover;

    h3{
        font-size: 32px;
        color: #fff;
        display: inline-block;
        border-bottom: solid 5px #FDC702;
        margin-bottom: 50px;
    }

    .partner{
        margin: 0 40px;
        img{
            height: 100px;
            width: 100%;
            object-fit: contain;
        }
    }
}

.contact-container{
    padding: 50px 0 0;
    background: url('img/contact.jpg') center no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 50px 5px rgb(0, 0, 0);

    h3{
        font-size: 32px;
        color: #fff;
        display: inline-block;
        border-bottom: solid 5px #FDC702;
        margin-left: 5vw;
    }

    .contact-box{
        // background: url('img/contact-box.png') center left no-repeat;
        padding: 0 0 20px;

        > div{
            > div{
                margin-right: 70px;
                position: relative;

                > div{
                    margin-bottom: 10px;
                }
            }

            &.organizatorzy{
                position: relative;
                padding: 20px 5vw;

                &:before{
                    width: calc(100% + 100px);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: -100px;
                    content: '';
                    background: #ffb400; /* Old browsers */
                    background: -moz-linear-gradient(left, #ffb400 0%, #ffcc00 50%, #ffb400 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffb400',GradientType=1 ); /* IE6-9 */
                    transform: skew(-27deg);
                }
            }

            strong, a{
                width: 100%;
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: #212529;
            }

            &.contact a{
                background: url('img/tel.png') center left no-repeat;
                padding-left: 20px;
            }

            &.contact_email a{
                background: url('img/email.png') center left no-repeat;
                padding-left: 20px;
            }
        }

        .fb-page{
            width: 400px;
            margin-right: 5vw;
        }
    }

    .copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 30px 5vw;

        .craft{
            font-size: 14px;
            opacity: .4;
            transition: opacity .3s ease;
            margin: 0;

            a,
            a:hover{
                color: #ff6700;
                text-decoration: none;
            }

            &:hover{
                opacity: 1;
            }
        }
    }
}

.counter-container{
    background: #060709;
    min-height: 180px;
    position: relative;
    overflow: hidden;

    &:before{
        content:"";
        width: 300px;
        height: 100px;
        background: #FFB400;
        transform: rotate(-63deg);
        position: absolute;
        top: -50px;
        left: -130px;
    }

    &:after{
        content:"";
        width: 300px;
        height: 100px;
        background: #FFB400;
        transform: rotate(-63deg);
        position: absolute;
        bottom: -50px;
        right: -130px;
    }

    .timer{
        width: 84px;
        height: 89px;
        background: url(img/timer.png) center no-repeat;
        background-size: cover;
        margin-right: 20px;
    }

    .counter{
        // background: url(img/counter.png) center bottom no-repeat;
        height: 150px;
        width: 623px;
        flex-flow: wrap;
        padding-left: 50px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;

        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 25px;
            width: 80%;
            height: 70px;
            background: #ffc400;
            transform: skew(-27deg);
            z-index: 1;
        }

        &:after{
            content: '';
            position: absolute;
            bottom: 40%;
            right: -5%;
            width: 44%;
            height: 92px;
            background: #ffc400;
            transform: skew(-27deg) rotate(90deg);
            z-index: 2;
        }

        p{
            color: #fff;
            font-size: 24px;
            line-height: 30px;
            width: 100%;
            margin: 0;
            padding-right: 150px;
        }

        .countdown{
            width: 60%;
            position: relative;
            z-index: 3;

            span{
                font-size: 26px;
            }
        }
    }

    .sign-container{

        .sign-btn{
            // background: url(img/btn.png) center no-repeat;
            // background-size: contain;
            text-align: center;
            font-size: 40px;
            color: #212529;
            text-decoration: none;
            position: relative;
            width: 280px;
            height: 70px;
            transition: all .3s ease;

            span{
                position: relative;
                z-index: 20;
            }

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 280px;
                height: 70px;
                background: #ffb400; /* Old browsers */
                background: -moz-linear-gradient(left, #ffb400 0%, #ffcc00 50%, #ffb400 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffb400',GradientType=1 ); /* IE6-9 */
                transform: skew(-27deg);
            }

            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: -2px;
                width: 0px;
                height: 70px;
                background: #d60400;
                transform: skew(-27deg);
                transition: all .3s ease;
            }

            &:hover{
                color: #fff;
            }

            &:hover:after{
                width: 260px;
            }
        }

        > div{
            margin: 5px 0;

            > span{
                margin-right: 25px;
                font-size: 36px;
                color: #fff;
                display: inline-block;

                &.sign-location{
                    background: url(img/location.png) no-repeat;
                    background-position: center right +5px;
                    min-height: 60px;
                    line-height: 60px;
                    padding-right: 80px;
                    margin-left: 25px;
                    margin-right: 0;
                }
            }
        }
    }

    .sign-counter{
        margin: 0 50px;
        text-align: center;

        p{
            font-size: 32px;
            color: #fff;
        }
    }
}

.promoted{
    // margin-top: 30vh;
    visibility: hidden;
    opacity: 0;

    &.show{
        display: flex !important;
        align-items: center;
        justify-content: center;
        visibility: visible;
        opacity: 1;
    }
}

main{
    > .main-content{
        padding: 40px 0;
        min-height: 50vh;
        box-shadow: inset 0px 0px 50px 0 rgb(0, 0, 0);
        background: url(img/bg.jpg) center no-repeat;
        background-attachment: fixed;
        background-size: cover;


        .drivers-container{
            box-shadow: none;
            background: none;
        }

        .news-container{
            box-shadow: none;
            background: none;
        }
    }
}

body{
    &.front{
        header{
            min-height: 500px;
            background-image: url(img/motto.png), url(img/header.jpg);
            background-position: bottom +50px left +8vw, center;
            background-repeat: no-repeat;
            background-size: auto, cover;
            padding-bottom: 0px;
        }
    }
    header{
        padding-top: 75px;
        padding-bottom: 30px;
        box-shadow: inset 0px 0px 50px 5px rgb(0, 0, 0);

        nav{
            width: 90vw;
            margin: 0 auto;
            background-color: #1A1A1A;
            background-image: url(img/menu-l.png);
            background-repeat: no-repeat;
            background-position: left +220px center;
            background-size: contain;
            padding: 0;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                height: 55px;
                width: 310px;
                background: url(img/menu-r.png) center right no-repeat;
                background-size: contain;
                top: 0;
                right: -30px;
            }

            .navbar-brand{
                position: absolute;
                top: -55px;
                left: 0;
            }

            .navbar-nav{
                position: relative;
                z-index: 2;

                a{
                    color: #fff;
                    text-transform: uppercase;

                    &:hover{
                       color: #FFB500;
                    }
                }

                .dropdown-menu a{
                    color: #212529;

                    &:hover{
                       color: #FFB500;
                    }
                }
            }
        }
    }
}

.card{
    background-color: rgba(255,255,255,.7);
}

.card-header{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5;

    &.bg-yellow{
        background: #ffb400; /* Old browsers */
        background: -moz-linear-gradient(left, #ffb400 0%, #ffcc00 50%, #ffb400 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffb400 0%,#ffcc00 50%,#ffb400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb400', endColorstr='#ffb400',GradientType=1 ); /* IE6-9 */
    }
}

.lista{
    .row:nth-child(even){
        background-color: rgba(246,246,246,.5);
    }
}

.drivers-container{
    padding: 50px 5vw;
    box-shadow: inset 0px 0px 50px 5px rgb(0, 0, 0);
    background: url(img/bg.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;

    h3{
        font-size: 32px;
        color: #fff;
        display: inline-block;
        border-bottom: solid 5px #FDC702;
        margin-bottom: 50px;
    }

    .driver{
        background: #fff;
        border-radius: 10px;
        padding: 10px;
        transition: all .3s ease;
        margin-bottom: 20px;

        a{
            color: #333;
            text-decoration: none;
        }

        img{
            background: rgba(0, 0, 0, 0.2);
            height: 225px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);
        }

        h6{
            text-align: center;
            font-size: 24px;
        }
    }
}

.pilots{
    img{
        height: 100px;
        width: 100%;
        object-fit: contain;
    }
}


@media (min-width: 1199px) {
  .modal-xl {
    max-width: 80vh;
    max-height: 80vh;
  }
}

.modal-clear{
    background: none;
    border: none;

    .close{
        position: absolute;
        top: 5px;
        right: 5px;
        background: #fff;
        border-radius: 20px;
        height: 20px;
        width: 20px;
        opacity: .8;
    }
}