#app{
    position: relative;
}

.craft{
    position: absolute;
    bottom: 5px;
    right: 10px;
    margin: 0;
    font-size: 12px;
    opacity: .4;
    transition: opacity .3s ease;

    a,
    a:hover{
        color: #ff6700;
        text-decoration: none;
    }

    &:hover{
        opacity: 1;
    }
}

.sortClone{
    display: none !important;
}

.op-1{
    opacity: .1;
}
.op-2{
    opacity: .2;
}
.op-3{
    opacity: .3;
}
.op-4{
    opacity: .4;
}
.op-5{
    opacity: .5;
}
.op-6{
    opacity: .6;
}
.op-7{
    opacity: .7;
}
.op-8{
    opacity: .8;
}
.op-9{
    opacity: .9;
}

.news-container{
    padding: 50px 5vw;

    .news{
        max-width: 340px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto 50px;

        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        .news-body{
            padding: 10px;
            text-align: center;
            font-weight: 500;
            height: 150px;
        }
    }
}

.partners-container{
    padding: 50px 5vw;

    .partner{
        margin: 0 40px;
        img{
            height: 100px;
            width: 100%;
            object-fit: contain;
        }
    }
}

.promoted{
    margin-top: 30vh;
    // &.show{
    //     display: flex !important;
    //     align-items: center;
    //     justify-content: center;
    // }
}