@media all and (min-width: 1199px) {
  .modal-xl {
    max-width: 80vh;
    max-height: 80vh;
  }
}


@media all and (min-width: 1200px) and (max-width: 1699px){
    .navbar-expand-md .navbar-collapse{
        justify-content: flex-end !important;
    }

    // .news-container .news .news-body{
    //     height: 180px;
    // }

    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 0.85rem;
    }

    h6, .h6 {
        font-size: 0.85rem;
    }

    .drivers-container .driver h6 {
        font-size: 20px;
    }
}

@media all and (max-width: 1199px){
    body header{
        padding-top: 0;
    }

    body header nav{
        &.navbar-dark{
            width: 100%;
            background-position: left center;

            &.navbar{
                padding: 0;
            }

            > .container-fluid{
                padding: 0;
            }

            &:after{
                background: url(img/menu-l.png) center right no-repeat;
                background-size: contain;
                right: 0;
                transform: rotate(180deg);
            }
        }
    }

    .contact-container{
        background: none;
        padding: 5px 0 0;

        .contact-box {

            .fb-page {
                margin-right: 0;
            }

            > div.organizatorzy{
                width: 100%;

                &:before{
                    width: 100%;
                    left: 0;
                    transform: skew(0);
                }
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1199px){
    h6, .h6 {
        font-size: 0.75rem;
    }

    .news-container .news .news-body{
        height: 200px;

        .news-date{
            top: -20px;
            bottom: initial;
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1199px){
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 0.75rem;
    }

    .drivers-container .driver h6 {
        font-size: 18px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 0.7rem;
    }

    .dropdown-menu{
        left: initial;
        right: 0;
    }

    .drivers-container .driver h6 {
        font-size: 16px;
    }

    .fixed-width{
        width: 1000px;
    }
}


@media all and (max-width: 767px){
    .navbar-expand-md .navbar-nav .nav-link {
        font-size: 0.7rem;
    }

    .dropdown-menu{
        left: initial;
        right: 0;
    }

    .drivers-container .driver h6 {
        font-size: 16px;
    }

    .fixed-width{
        width: 1000px;
    }

    body{
        &.front{
            header{
                min-height: 0;
                background: #1A1A1A;
            }
        }

        header{
            box-shadow: none;
        }
    }

    body header nav.navbar-dark.navbar{
        width: 100%;
        background-position: left top;
        background-size: auto;
        padding: 10px 0;
        min-height: 0;
    }

    .navbar-toggler{
        margin: 0 auto;
    }

    .navbar-expand-md .navbar-nav .nav-link{
        font-size: .8rem;
    }

    .navbar-collapse li{
        text-align: center;
        padding: 5px 0;
    }

    body header nav{
        &.navbar-dark{
            width: 100%;
            background: #1A1A1A;

            &:after{
                content: none;
            }
        }
    }

    .contact-container .contact-box .fb-page{
        width: 100%;
        text-align: center;
    }

    .counter-container{
        .timer{
            margin-right: 0;
            margin-top: 20px;
        }

        .counter{
            height: 150px;
            width: 90%;
            flex-flow: wrap;
            padding-left: 0;
            text-align: center;

            &:before{
                content: none;
            }

            &:after{
                content: none;
            }

            p{
                color: #fff;
                font-size: 18px;
                line-height: 24px;
                padding-right: 0;
            }

            .countdown{
                width: 100%;
                justify-content: center !important;

                span{
                    color: #fff;
                    font-size: 22px;
                }
            }
        }

        .sign-container{
            > div{
                flex-flow: wrap;
                margin: 25px auto;
            }
        }

        .sign-counter{
            p{
                font-size: 32px;
            }
        }
    }

    .lista{
        .row > *{
            margin-bottom: 10px !important;
        }
    }

    .fixed-xs-width{
        width: 1000px;
    }

    img.thumb{
        height: auto;
        max-height: 120px;
    }

    .img_with_hover{
        .hovered{
            width: 160%;
            height: 160%;
            left: -30%;
            bottom: -30%;
        }
    }
}