
// Body
$body-bg: #1a1a1a;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$card-border-radius:                0 !default;
$card-inner-border-radius:          0 !default;